@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  fill: white;
}

/* .login {
    clip-path: polygon(0 0, 82% 0, 59% 85%, 0% 100%);
    background-color: rgba(226, 250, 255, 0.632);
    z-index: auto;
} */

.background {
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* .sidebar:has(> .active) {
  color: aquamarine;
} */
.active {
  color: #38bdf8;
}
.animate-pulse {
  animation: pulse 4s infinite;
}

.password-icon {
  cursor: pointer;
}

/* @keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
} */
